.accomplishmentsList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.accomplishmentsList li {
    margin-bottom: 15px;
    line-height: 1.5;
    display: block;
}

.accomplishmentsList li .accomplishmentTitle {
    font-weight: bold;
    margin-right: 5px;
    color: #ffffff;
}

.accomplishmentsList li .accomplishmentDetails {
    color: #C0C0C0;
}