.section {
    padding: 80px 0; /* Add vertical space between sections */
    color: #ffffff;
    margin-bottom: 0; /* Remove default margin */
    min-height: calc(100vh);
}

.section h2 {
    color: #ffffff;
    font-style: italic;
    margin-top: 0;
    font-size: 2.5em;
    text-align: left;
}

.section p {
    line-height: 1.6; /* Adjust the multiplier (1.5 to 1.8 is common) */
    margin-bottom: 20px; /* Adjust as needed */
}

.section:last-child {
    min-height: calc(84vh);
}

.infoContent {
    background-color: #000000;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}

.sectionContentWrapper {
    max-width: 85%;
}

.sectionContentWrapper a {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: #00A3B9;
}

.sectionContentWrapper a:hover {
    color: #C0C0C0;
}

@media (max-width: 768px) {
    /* Adjust section padding if needed on mobile */
    .section {
        padding: 65px 0;
    }

    /* Adjust section heading size on mobile */
    .section h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .sectionContentWrapper {
        max-width: 95vw;
    }
}