.aboutContent {
    max-width: 75%;
}

.aboutContent a {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.aboutContent a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
    .aboutContent {
        max-width: 95vw;
    }
}