.projectsSection {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: var(--spacing-xl);
    text-align: left;
}

.highlightsSection h2 {
    text-align: center;
    margin-bottom: var(--spacing-xl);
}

.projectListContainer {
}

.projectDivider {
    border: none;
    border-top: 1px solid var(--color-projects-divider);
    margin: var(--spacing-xl) 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .highlightsSection h2 {
        margin-bottom: var(--spacing-xl);
    }
    .projectDivider {
        margin: var(--spacing-xl) 0;
        width: 90%;
    }
}