@import "tailwindcss";

body {
    /* Use background-image for the gradient */
    background-image: linear-gradient(to bottom right, #4f4f4f, #000000);

    /* Optional: ensure the gradient covers the entire viewport */
    min-height: 100vh;
    margin: 0;

    /* Optional: keep the background fixed if the user scrolls */
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

/*@media (max-width: 768px) {*/
/*    */
/*}*/