:root {
    --color-accent-primary: #2C7B47;
    --color-a-hover: #66B08A;
    --color-background-base: #FFFFFF;
    --color-background-base-transparent: rgba(255, 255, 255, 0.8);
    --color-background-header-section: #F8F9FA;
    --color-text-primary: #212529;
    --color-text-secondary: #495057;
    --color-projects-divider: #DEE2E6;
    --color-shadow-default: rgba(0, 0, 0, 0.15);
    --color-background-hamburger-line: #2C7B47;
    --color-background-mobile-nav: rgba(72, 187, 120, .90);
    --color-text-mobile-nav: #212529;
    --color-border-mobile-nav: #212529;

    --color-name-role-color: var(--color-accent-primary);
    --color-header-accent: var(--color-accent-primary);
    --color-home-icon: var(--color-header-accent);
    --color-project-header: var(--color-accent-primary);
    --color-card-header: var(--color-project-header);
    --color-text-header-content: var(--color-text-primary);
    --color-text-header-theme-buttons: var(--color-text-header-content);
    --color-text-main-content: var(--color-text-primary);
    --color-text-main-content-a: var(--color-text-main-content);
    --color-text-column-title: var(--color-text-primary);
    --color-text-footer-role-tag: var(--color-text-primary);
    --color-text-summ-par: var(--color-text-secondary);
    --color-text-footer: var(--color-text-secondary);
    --color-text-acronym-tooltip: var(--color-text-secondary);
    --color-text-accomplishments: var(--color-text-secondary);
    --color-text-project-details-tech-high: var(--color-text-secondary);
    --color-section-p: var(--color-text-secondary);
    --color-fieldset-radio-border: var(--color-accent-primary);
    --color-text-legend: var(--color-text-primary);
    --color-text-radio-label: var(--color-text-primary);
    --color-text-theme-descritpion: var(--color-text-primary);

    --background-blur: 7px;

    --font-family-name: "Monotype Corsiva", cursive;
    /*--font-family-body: var(--font-inter), sans-serif; !* Or Roboto, Open Sans, etc. *!*/

    --font-size-sm: .75rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --line-height-base: 1.5;

    /* Spacing */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 1.75rem;
    --spacing-xxl: 2rem;

    /*used to help set the last section to be a little shorter than the rest */
    --last-section-size-cutoff: 2.2rem;

    --margin-bottom-sections: 30px;

    /* Border Radius */
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;

    --transition-speed-fast: 0.2s;
    --transition-speed-normal: 0.3s;
    --transition-easing-default: ease-in-out;

    --header-height: 60px;
    --header-height-mobile: 53px;
    --footer-height: 50px;

    --max-content-width: 100%;
}

body.dark-mode {
    --color-accent-primary: #48BB78;
    --color-a-hover: #68D391;
    --color-background-base: #1A202C;
    --color-background-base-transparent: rgba(26, 32, 44, 0.7);
    --color-background-header-section: #11161B;
    --background-blur: 10px;
    --color-text-primary: #E2E8F0;
    --color-text-secondary: #A0AEC0;
    --color-projects-divider: #4A5568;
    --color-background-hamburger-line: #48BB78;
    --color-background-mobile-nav: rgba(44, 123, 71, .90);
    --color-text-mobile-nav: #C0C0C0;
    --color-border-mobile-nav: #C0C0C0;
    --color-shadow-default: rgba(0, 0, 0, 0.4);
    --color-name-role-color: var(--color-accent-primary);
    --color-header-accent: var(--color-accent-primary);
    --color-home-icon: var(--color-header-accent);
    --color-project-header: var(--color-accent-primary);
    --color-card-header: var(--color-project-header);
    --color-text-header-content: var(--color-text-primary);
    --color-text-header-theme-buttons: var(--color-text-header-content);
    --color-text-main-content: var(--color-text-primary);
    --color-text-main-content-a: var(--color-text-main-content);
    --color-text-column-title: var(--color-text-primary);
    --color-text-footer-role-tag: var(--color-text-primary);
    --color-text-summ-par: var(--color-text-secondary);
    --color-text-footer: var(--color-text-secondary);
    --color-text-acronym-tooltip: var(--color-text-secondary);
    --color-text-accomplishments: var(--color-text-secondary);
    --color-text-project-details-tech-high: var(--color-text-secondary);
    --color-section-p: var(--color-text-secondary);
    --color-fieldset-radio-border: var(--color-accent-primary);
    --color-text-legend: var(--color-text-primary);
    --color-text-radio-label: var(--color-text-primary);
    --color-text-theme-descritpion: var(--color-text-primary);
}

body.ferrari {
    --color-accent-primary: #FFF200;
    --color-a-hover: #FFF200;
    --color-background-base: #C00000;
    --color-background-base-transparent: rgba(192, 0, 0, 0.7);
    --color-background-header-section: #DC0000;
    --color-background-mobile-nav: rgba(220, 0, 0, .90);
    --background-blur: 10px;
    --color-text-primary: #1C1C1C;
    --color-text-secondary: #000000;
    --color-projects-divider: #1C1C1C;
    --color-background-hamburger-line: #FFF200;
    --color-text-mobile-nav: #FFF200;
    --color-border-mobile-nav: #FFF200;
    --color-shadow-default: rgba(0, 0, 0, 0.15);
    --color-name-role-color: var(--color-accent-primary);
    --color-header-accent: var(--color-accent-primary);
    --color-home-icon: var(--color-header-accent);
    --color-project-header: var(--color-accent-primary);
    --color-card-header: var(--color-project-header);
    --color-text-header-content: var(--color-text-primary);
    --color-text-header-theme-buttons: var(--color-text-header-content);
    --color-text-main-content: var(--color-text-primary);
    --color-text-main-content-a: var(--color-text-main-content);
    --color-text-column-title: var(--color-text-primary);
    --color-text-footer-role-tag: var(--color-text-primary);
    --color-text-summ-par: var(--color-text-secondary);
    --color-text-footer: var(--color-text-secondary);
    --color-text-acronym-tooltip: var(--color-text-secondary);
    --color-text-accomplishments: var(--color-text-secondary);
    --color-text-project-details-tech-high: var(--color-text-secondary);
    --color-section-p: var(--color-text-secondary);
    --color-fieldset-radio-border: var(--color-accent-primary);
    --color-text-legend: var(--color-text-primary);
    --color-text-radio-label: var(--color-text-primary);
    --color-text-theme-descritpion: var(--color-text-primary);
}

body.sauber {
    --color-accent-primary: #474F54;
    --color-a-hover: #474F54;
    --color-background-base: #00E701;
    --color-background-base-transparent: rgba(0, 231, 1, 0.7);
    --color-background-header-section: #52E252;
    --color-background-mobile-nav: rgba(82, 226, 82, .90);
    --background-blur: 10px;
    --color-text-primary: #0B0E0F;
    --color-text-secondary: #474F54;
    --color-projects-divider: #474F54;
    --color-background-hamburger-line: #474F54;
    --color-text-mobile-nav: #0B0E0F;
    --color-border-mobile-nav: #474F54;
    --color-shadow-default: rgba(0, 0, 0, 0.15);
    --color-name-role-color: var(--color-accent-primary);
    --color-header-accent: var(--color-accent-primary);
    --color-home-icon: var(--color-header-accent);
    --color-project-header: var(--color-accent-primary);
    --color-card-header: var(--color-project-header);
    --color-text-header-content: var(--color-text-primary);
    --color-text-header-theme-buttons: var(--color-text-header-content);
    --color-text-main-content: var(--color-text-primary);
    --color-text-main-content-a: var(--color-text-main-content);
    --color-text-column-title: var(--color-text-primary);
    --color-text-footer-role-tag: var(--color-text-primary);
    --color-text-summ-par: var(--color-text-secondary);
    --color-text-footer: var(--color-text-secondary);
    --color-text-acronym-tooltip: var(--color-text-secondary);
    --color-text-accomplishments: var(--color-text-secondary);
    --color-text-project-details-tech-high: var(--color-text-secondary);
    --color-section-p: var(--color-text-secondary);
    --color-fieldset-radio-border: var(--color-accent-primary);
    --color-text-legend: var(--color-text-primary);
    --color-text-radio-label: var(--color-text-primary);
    --color-text-theme-descritpion: var(--color-text-primary);
}

body.haas {
    --color-accent-primary: #FFFFFF;
    --color-a-hover: #FFFFFF;
    --color-background-base: #000000;
    --color-background-base-transparent: rgba(0, 0, 0, 0.7);
    --color-background-header-section: #1C1C1C;
    --color-background-mobile-nav: rgba(28, 28, 28, .90);
    --background-blur: 10px;
    --color-text-primary: #E6002B;
    --color-text-secondary: #E6002B;
    --color-projects-divider: #FFFFFF;
    --color-background-hamburger-line: #E6002B;
    --color-text-mobile-nav: #E6002B;
    --color-border-mobile-nav: #E6002B;
    --color-shadow-default: rgba(0, 0, 0, 0.4);
    --color-name-role-color: var(--color-accent-primary);
    --color-header-accent: var(--color-accent-primary);
    --color-home-icon: var(--color-header-accent);
    --color-project-header: var(--color-accent-primary);
    --color-card-header: var(--color-project-header);
    --color-text-header-content: var(--color-text-primary);
    --color-text-header-theme-buttons: var(--color-text-header-content);
    --color-text-main-content: var(--color-text-primary);
    --color-text-main-content-a: var(--color-text-main-content);
    --color-text-column-title: var(--color-text-primary);
    --color-text-footer-role-tag: var(--color-text-primary);
    --color-text-summ-par: var(--color-text-secondary);
    --color-text-footer: var(--color-text-secondary);
    --color-text-acronym-tooltip: var(--color-text-secondary);
    --color-text-accomplishments: var(--color-text-secondary);
    --color-text-project-details-tech-high: var(--color-text-secondary);
    --color-section-p: var(--color-text-secondary);
    --color-fieldset-radio-border: var(--color-accent-primary);
    --color-text-legend: var(--color-text-primary);
    --color-text-radio-label: var(--color-text-primary);
    --color-text-theme-descritpion: var(--color-text-primary);
}

body.mercedes {
    --color-accent-primary: #00A19B;
    --color-a-hover: #565F64;
    --color-background-base: #000000;
    --color-background-base-transparent: rgba(0, 0, 0, 0.7);
    --color-background-header-section: #C8CCCE;
    --color-background-mobile-nav: rgba(0, 0, 0, .90);
    --background-blur: 10px;
    --color-text-primary: #565F64;
    --color-text-secondary: #565F64;
    --color-projects-divider: #000000;
    --color-background-hamburger-line: #00A19B;
    --color-text-mobile-nav: #00A19B;
    --color-border-mobile-nav: #00A19B;
    --color-shadow-default: rgba(0, 0, 0, 0.4);
    --color-name-role-color: var(--color-accent-primary);
    --color-header-accent: var(--color-accent-primary);
    --color-home-icon: var(--color-header-accent);
    --color-project-header: var(--color-accent-primary);
    --color-card-header: var(--color-project-header);
    --color-text-header-content: var(--color-text-primary);
    --color-text-header-theme-buttons: var(--color-accent-primary);
    --color-text-main-content: var(--color-text-primary);
    --color-text-main-content-a: var(--color-accent-primary);
    --color-text-column-title: var(--color-text-primary);
    --color-text-footer-role-tag: var(--color-accent-primary);
    --color-text-summ-par: var(--color-text-secondary);
    --color-text-footer: var(--color-accent-primary);
    --color-text-acronym-tooltip: #FFFFFF;
    --color-text-accomplishments: var(--color-text-secondary);
    --color-text-project-details-tech-high: var(--color-text-secondary);
    --color-section-p: var(--color-text-secondary);
    --color-fieldset-radio-border: var(--color-accent-primary);
    --color-text-legend: #C8CCCE;
    --color-text-radio-label: var(--color-text-legend);
    --color-text-theme-descritpion: var(--color-text-legend);
}

body.alpine {
    --color-accent-primary: #FFFFFF;
    --color-a-hover: #E12319;
    --color-background-base: #02192B;
    --color-background-base-transparent: rgba(2, 25, 43, 0.7);
    --color-background-header-section: #217388;
    --color-background-mobile-nav: rgba(33, 115, 184, .90);
    --background-blur: 10px;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #000000;
    --color-projects-divider: #E12319;
    --color-background-hamburger-line: #E12319;
    --color-text-mobile-nav: var(--color-accent-primary);
    --color-border-mobile-nav: #E12319;
    --color-shadow-default: rgba(0, 0, 0, 0.4);
    --color-name-role-color: var(--color-accent-primary);
    --color-header-accent: var(--color-a-hover);
    --color-home-icon: var(--color-header-accent);
    --color-project-header: #E12319;
    --color-card-header: var(--color-project-header);
    --color-text-header-content: var(--color-text-primary);
    --color-text-header-theme-buttons: var(--color-accent-primary);
    --color-text-main-content: var(--color-text-primary);
    --color-text-main-content-a: var(--color-accent-primary);
    --color-text-column-title: var(--color-text-primary);
    --color-text-footer-role-tag: var(--color-accent-primary);
    --color-text-summ-par: var(--color-text-secondary);
    --color-text-footer: var(--color-accent-primary);
    --color-text-acronym-tooltip: #FFFFFF;
    --color-text-accomplishments: var(--color-text-secondary);
    --color-text-project-details-tech-high: var(--color-text-secondary);
    --color-section-p: var(--color-text-secondary);
    --color-fieldset-radio-border: #E12319;
    --color-text-legend: #FFFFFF;
    --color-text-radio-label: var(--color-text-legend);
    --color-text-theme-descritpion: var(--color-text-primary);
}

body.redBull {
    --color-accent-primary: #FFFFFF;
    --color-a-hover: #E30118;
    --color-background-base: #002740;
    --color-background-base-transparent: rgba(0, 39, 64, 0.7);
    --color-background-header-section: #FDD900;
    --color-background-mobile-nav: rgba(253, 217, 0, .90);
    --background-blur: 10px;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #000000;
    --color-projects-divider: #E30118;
    --color-background-hamburger-line: #E30118;
    --color-text-mobile-nav: var(--color-accent-primary);
    --color-border-mobile-nav: #E30118;
    --color-shadow-default: rgba(0, 0, 0, 0.4);
    --color-name-role-color: var(--color-a-hover);
    --color-header-accent: var(--color-a-hover);
    --color-home-icon: var(--color-header-accent);
    --color-project-header: #E30118;
    --color-card-header: var(--color-project-header);
    --color-text-header-content: #4D4D4C;
    --color-text-header-theme-buttons: var(--color-a-hover);
    --color-text-main-content: var(--color-text-primary);
    --color-text-main-content-a: var(--color-accent-primary);
    --color-text-column-title: var(--color-text-primary);
    --color-text-footer-role-tag: var(--color-accent-primary);
    --color-text-summ-par: var(--color-text-secondary);
    --color-text-footer: var(--color-accent-primary);
    --color-text-acronym-tooltip: #FFFFFF;
    --color-text-accomplishments: var(--color-text-secondary);
    --color-text-project-details-tech-high: var(--color-text-secondary);
    --color-section-p: var(--color-text-secondary);
    --color-fieldset-radio-border: #E30118;
    --color-text-legend: #FFFFFF;
    --color-text-radio-label: var(--color-text-legend);
    --color-text-theme-descritpion: var(--color-text-secondary);
}

body.racingBulls {
    --color-accent-primary: #FFFFFF;
    --color-a-hover: #4E7C9B;
    --color-background-base: #FFFFFF;
    --color-background-base-transparent: rgba(255, 255, 255, 0.7);
    --color-background-header-section: #20394C;
    --color-background-mobile-nav: rgba(32, 57, 76, .90);
    --background-blur: 10px;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #FFFFFF;
    --color-projects-divider: #E30118;
    --color-background-hamburger-line: var(--color-a-hover);
    --color-text-mobile-nav: var(--color-accent-primary);
    --color-border-mobile-nav: #E12319;
    --color-shadow-default: rgba(0, 0, 0, 0.4);
    --color-name-role-color: #E30118;
    --color-header-accent: var(--color-a-hover);
    --color-home-icon: var(--color-header-accent);
    --color-project-header: #000000;
    --color-card-header: var(--color-background-header-section);
    --color-text-header-content: var(--color-text-primary);
    --color-text-header-theme-buttons: var(--color-a-hover);
    --color-text-main-content: var(--color-text-primary);
    --color-text-main-content-a: var(--color-accent-primary);
    --color-text-column-title: var(--color-text-primary);
    --color-text-footer-role-tag: var(--color-a-hover);
    --color-text-summ-par: var(--color-text-secondary);
    --color-text-footer: #E30118;
    --color-text-acronym-tooltip: #000000;
    --color-text-accomplishments: var(--color-text-secondary);
    --color-text-project-details-tech-high: var(--color-text-secondary);
    --color-section-p: var(--color-text-secondary);
    --color-fieldset-radio-border: var(--color-a-hover);
    --color-text-legend: var(--color-a-hover);
    --color-text-radio-label: #E30118;
    --color-text-theme-descritpion: var(--color-text-primary);
}

body.aston {
    --color-accent-primary: #CBA258;
    --color-a-hover: #FFFFFF;
    --color-background-base: #004036;
    --color-background-base-transparent: rgba(0, 64, 54, 0.7);
    --color-background-header-section: #005F46;
    --color-background-mobile-nav: rgba(28, 28, 28, .90);
    --background-blur: 10px;
    --color-text-primary: #A5ACAF;
    --color-text-secondary: #000000;
    --color-projects-divider: #FFFFFF;
    --color-background-hamburger-line: #CBA258;
    --color-text-mobile-nav: #CBA258;
    --color-border-mobile-nav: #CBA258;
    --color-shadow-default: rgba(0, 0, 0, 0.4);
    --color-name-role-color: var(--color-accent-primary);
    --color-header-accent: var(--color-accent-primary);
    --color-home-icon: var(--color-header-accent);
    --color-project-header: var(--color-accent-primary);
    --color-card-header: var(--color-project-header);
    --color-text-header-content: var(--color-text-primary);
    --color-text-header-theme-buttons: var(--color-accent-primary);
    --color-text-main-content: var(--color-text-primary);
    --color-text-main-content-a: var(--color-text-main-content);
    --color-text-column-title: var(--color-text-primary);
    --color-text-footer-role-tag: var(--color-text-primary);
    --color-text-summ-par: var(--color-text-secondary);
    --color-text-footer: var(--color-accent-primary);
    --color-text-acronym-tooltip: #FFFFFF;
    --color-text-accomplishments: var(--color-text-secondary);
    --color-text-project-details-tech-high: var(--color-text-secondary);
    --color-section-p: var(--color-text-secondary);
    --color-fieldset-radio-border: var(--color-accent-primary);
    --color-text-legend: var(--color-text-primary);
    --color-text-radio-label: var(--color-text-primary);
    --color-text-theme-descritpion: var(--color-a-hover);
}

body.mclaren {
    --color-accent-primary: #FF8000;
    --color-a-hover: #FF8000;
    --color-background-base: #FF8000;
    --color-background-base-transparent: rgba(255, 128, 0, 0.7);
    --color-background-header-section: #000000;
    --color-background-mobile-nav: rgba(255, 128, 0, .90);
    --background-blur: 10px;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #FFFFFF;
    --color-projects-divider: var(--color-accent-primary);
    --color-background-hamburger-line: var(--color-background-header-section);
    --color-text-mobile-nav: var(--color-accent-primary);
    --color-border-mobile-nav: var(--color-accent-primary);
    --color-shadow-default: rgba(0, 0, 0, 0.4);
    --color-name-role-color: var(--color-accent-primary);
    --color-header-accent: var(--color-accent-primary);
    --color-home-icon: #FFFFFF;
    --color-project-header: var(--color-accent-primary);
    --color-card-header: #000000;
    --color-text-header-content: var(--color-text-primary);
    --color-text-header-theme-buttons: var(--color-text-header-content);
    --color-text-main-content: var(--color-text-primary);
    --color-text-main-content-a: var(--color-text-main-content);
    --color-text-column-title: var(--color-text-primary);
    --color-text-footer-role-tag: var(--color-text-primary);
    --color-text-summ-par: var(--color-text-secondary);
    --color-text-footer: var(--color-text-secondary);
    --color-text-acronym-tooltip: var(--color-text-secondary);
    --color-text-accomplishments: var(--color-text-secondary);
    --color-text-project-details-tech-high: var(--color-text-secondary);
    --color-section-p: var(--color-text-secondary);
    --color-fieldset-radio-border: var(--color-card-header);
    --color-text-legend: var(--color-text-primary);
    --color-text-radio-label: var(--color-text-primary);
    --color-text-theme-descritpion: var(--color-text-primary);
}

body.williams {
    --color-accent-primary: #00A0DE;
    --color-a-hover: var(--color-accent-primary);
    --color-background-base: #00A0DE;
    --color-background-base-transparent: rgba(0, 160, 222, 0.7);
    --color-background-header-section: #041E42;
    --color-background-mobile-nav: rgba(0, 160, 222, .90);
    --background-blur: 10px;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #FFFFFF;
    --color-projects-divider: #FFFFFF;
    --color-background-hamburger-line: var(--color-background-header-section);
    --color-text-mobile-nav: var(--color-text-primary);
    --color-border-mobile-nav: var(--color-accent-primary);
    --color-shadow-default: rgba(0, 0, 0, 0.4);
    --color-name-role-color: var(--color-background-base);
    --color-header-accent: var(--color-accent-primary);
    --color-home-icon: var(--color-background-header-section);
    --color-project-header: var(--color-accent-primary);
    --color-card-header: var(--color-background-header-section);
    --color-text-header-content: var(--color-text-primary);
    --color-text-header-theme-buttons: var(--color-text-header-content);
    --color-text-main-content: var(--color-text-primary);
    --color-text-main-content-a: var(--color-text-main-content);
    --color-text-column-title: var(--color-text-primary);
    --color-text-footer-role-tag: var(--color-text-primary);
    --color-text-summ-par: var(--color-text-secondary);
    --color-text-footer: var(--color-text-secondary);
    --color-text-acronym-tooltip: var(--color-text-primary);
    --color-text-accomplishments: var(--color-text-secondary);
    --color-text-project-details-tech-high: var(--color-text-secondary);
    --color-section-p: var(--color-text-secondary);
    --color-fieldset-radio-border: var(--color-background-header-section);
    --color-text-legend: var(--color-text-primary);
    --color-text-radio-label: var(--color-text-primary);
    --color-text-theme-descritpion: var(--color-text-primary);
}