:root {
    --color-accent-primary: #2C7B47;
    --color-a-hover: #66B08A;

    --color-background-base: #FFFFFF;
    --color-text-primary: #212529;
    --color-text-secondary: #495057;
    --color-text-subtle: #C0C0C0;
    --color-border-default: #DEE2E6;
    --color-shadow-default: rgba(0, 0, 0, 0.15);
    --color-background-secondary: #F8F9FA;

    --color-background-primary-transparent: rgba(255, 255, 255, 0.8);
    --background-blur: 7px;

    --font-family-name: "Monotype Corsiva", cursive;
    /*--font-family-body: var(--font-inter), sans-serif; !* Or Roboto, Open Sans, etc. *!*/
    --font-size-base: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --line-height-base: 1.5;

    /* Spacing */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 1.75rem;
    --spacing-xxl: 2rem;

    /*used to help set the last section to be a little shorter than the rest */
    --last-section-size-cutoff: 2.2rem;

    --margin-bottom-sections: 30px;

    /* Border Radius */
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;

    --transition-speed-fast: 0.2s;
    --transition-speed-normal: 0.3s;
    --transition-easing-default: ease-in-out;

    --header-height: 60px;
    --footer-height: 50px;

    --color-background-hamburger-line: #2C7B47;
    --color-background-mobile-nav: rgba(72, 187, 120, .90);
    --color-text-mobile-nav: #212529;
    --color-border-mobile-nav: #212529;

    --max-content-width: 100%;

    --color-name-role-color: var(--color-accent-primary);
    --color-header-accent:  var(--color-accent-primary);
    --color-card-project-header: var(--color-accent-primary);
}

body.dark-mode {
    --color-accent-primary: #48BB78;
    --color-a-hover: #68D391;
    --color-background-base: #1A202C;
    --color-background-primary-transparent: rgba(26, 32, 44, 0.7);
    --background-blur: 10px;
    --color-text-primary: #E2E8F0;
    --color-text-secondary: #A0AEC0;
    --color-text-subtle: #718096;
    --color-border-default: #4A5568;
    --color-background-secondary: #11161B;
    --color-background-hamburger-line: #48BB78;
    --color-background-mobile-nav: rgba(44, 123, 71, .90);
    --color-text-mobile-nav: #C0C0C0;
    --color-border-mobile-nav: #C0C0C0;
    --color-name-role-color: var(--color-accent-primary);
    --color-header-accent:  var(--color-accent-primary);
    --color-card-project-header: var(--color-accent-primary);
}

body.ferrari {
    --color-accent-primary: #FFF200;
    --color-a-hover: #FFF200;
    --color-background-base: #C00000;
    --color-background-primary-transparent: rgba(192, 0, 0, 0.7);
    --color-background-secondary: #DC0000;
    --color-background-mobile-nav: rgba(220, 0, 0, .90);
    --background-blur: 10px;
    --color-text-primary: #1C1C1C;
    --color-text-secondary: #000000;
    --color-text-subtle: #000000;
    --color-border-default: #1C1C1C;
    --color-background-hamburger-line: #FFF200;
    --color-text-mobile-nav: #FFF200;
    --color-border-mobile-nav: #FFF200;
    --color-name-role-color: var(--color-accent-primary);
    --color-header-accent:  var(--color-accent-primary);
    --color-card-project-header: var(--color-accent-primary);
}

body.sauber {
    --color-accent-primary: #474F54;
    --color-a-hover: #474F54;
    --color-background-base: #00E701;
    --color-background-primary-transparent: rgba(0, 231, 1, 0.7);
    --color-background-secondary: #52E252;
    --color-background-mobile-nav: rgba(82, 226, 82, .90);
    --background-blur: 10px;
    --color-text-primary: #0B0E0F;
    --color-text-secondary: #474F54;
    --color-text-subtle: #474F54;
    --color-border-default: #474F54;
    --color-background-hamburger-line: #474F54;
    --color-text-mobile-nav: #0B0E0F;
    --color-border-mobile-nav: #474F54;
    --color-name-role-color: var(--color-accent-primary);
    --color-header-accent:  var(--color-accent-primary);
    --color-card-project-header: var(--color-accent-primary);
}

body.haas {
    --color-accent-primary: #FFFFFF;
    --color-a-hover: #FFFFFF;
    --color-background-base: #000000;
    --color-background-primary-transparent: rgba(0, 0, 0, 0.7);
    --color-background-secondary: #1C1C1C;
    --color-background-mobile-nav: rgba(28, 28, 28, .90);
    --background-blur: 10px;
    --color-text-primary: #E6002B;
    --color-text-secondary: #E6002B;
    --color-text-subtle: #FFFFFF;
    --color-border-default: #FFFFFF;
    --color-background-hamburger-line: #E6002B;
    --color-text-mobile-nav: #E6002B;
    --color-border-mobile-nav: #E6002B;
    --color-name-role-color: var(--color-accent-primary);
    --color-header-accent:  var(--color-accent-primary);
    --color-card-project-header: var(--color-accent-primary);
}