.paletteContainer {
    position: fixed;
    top: var(--header-height);
    right: 0;
    width: 300px;
    color: var(--color-text-primary);
    background-color: var(--color-background-base);
    box-shadow: -4px 0 15px var(--color-shadow-default);
    z-index: 1001;
    transform: translateX(100%);
    visibility: hidden;
    transition: transform 0.3s ease-out, visibility 0s linear 0.3s;
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--spacing-md));
}

.sidePanelOpen {
    transform: translateX(0);
    visibility: visible;
    transition: transform 0.3s ease-out, visibility 0s linear 0s;
}

@media (max-width: 768px) {
    .paletteContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--color-background-mobile-nav);
        z-index: 990;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing:  border-box;
        margin-top: var(--header-height-mobile);
    }

    :global(body.paletteContainer) .paletteContainer {
        visibility: visible;
        opacity: 1;
    }
}